<section class="px-6 lg:px-10">

  <div class="max-w-desktop mx-auto lg:gap-4 flex items-center justify-between py-5 lg:py-10">

    <mobile-menu-button role="button" aria-label="Open mobile menu" class="block lg:hidden">
      {% render 'icon-hamburger', classes: 'h-3 w-auto block' %}
    </mobile-menu-button>

    <div class="flex items-center justify-center lg:justify-between flex-1">

      <a href="/" class="block lg:mr-16">
        <img 
          src="{{ settings.logo | image_url: width: 500 }}" 
          height="{{ settings.logo.height }}" 
          width="{{ settings.logo.width }}" 
          loading="eager" 
          fetchpriority="high"
          style="max-width: {{ settings.logo_width }}px;"
          class="h-auto w-[120px] lg:w-full" 
          alt="{{ settings.logo.alt | escape }}">
      </a>

      <nav class="hidden lg:block flex-1">
        <ul class="list-none flex justify-center gap-8 xl:gap-12">
          {% for link in linklists.main-menu.links %}
            <li>
              <a href="{{ link.url }}" class="uppercase font-bold tracking-[2px] hover:text-blue text-xs {% if link.title contains 'Sale' %}text-red{% endif %}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>

    </div>

    <div class="flex items-center gap-8">

      <form method="get" action="{{ routes.search_url }}" role="search" class="hidden lg:flex pr-4 items-center rounded-full border border-solid border-medium-gray">
        <label for="search" class="sr-clickable">Search store</label>
        <input 
          type="search"
          id="search"
          name="q"
          value="{{ search.terms | escape }}"
          placeholder="Search" 
          class="px-4 py-2 text-xs w-44">
        <button type="submit">
          {% render 'icon-search', classes: 'h-3 w-3 text-[#767676]' %}
        </button>
      </form>

      <div class="hidden lg:block leading-snug text-center text-xs text-dark-gray pr-8 border-r border-solid border-medium-gray">
        {% if customer %}
          <a href="/account/login" class="underline">My Account</a>
        {% else %}
          My account
          <a href="/account/login" class="underline block">Sign in or Sign up</a>
        {% endif %}
      </div>

      <cart-button role="button" aria-label="Open cart" class="block relative">
        {% render 'icon-cart', classes: 'h-5 lg:h-6 w-auto block' %}
        <cart-item-count class="bg-blue text-white h-3 w-3 rounded-full leading-3.5 text-[10px] text-center font-bold absolute -top-1 -right-1.5">
          {% if cart.item_count > 0  %}
            {{ cart.item_count }}
          {% endif %}
        </cart-item-count>
      </cart-button>

    </div>

  </div>

</section>


{% schema %}
{
  "name": "Header",
  "enabled_on": {
    "groups": [
      "header"
    ]
  },
  "settings": [
  ]
}
{% endschema %}
